GerbertShildt_Java8.Rukovodstvo_dlya_nachinayushchih_6-eizdanie.pdf
K_Syerra_B_Beyts_-_Izuchaem_Java_Mirovoy_kom.pdf
OCP Java SE 8 Programmer II Exam Guide (Exam 1Z0-809).pdf
Erik_Frimen_Elizabet_Frimen_-_Patterny_proektirovania_Head_First_O_39_Reilly_-_2011.pdf